/* @import url('https://fonts.googleapis.com/css2?family=Stalinist+One&display=swap'); */
@font-face {
  font-family: 'Norse Cyrillic';
  src: url('/fonts/Norse-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer components {
  p {
    @apply 'Norse Cyrillic';
  }
} */